body {
  text-align: center;
  background-color: #56b7e6;
}

h2 {
  color: white;
  text-align: center;
}

table {
  width: 30%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 5px;
}

tr {
  cursor: pointer;
}

.td1{
  color: #56b7e6;
  border-top-left-radius: 16cm;
  border-bottom-left-radius: 16cm;
  border: 1px solid white;
  border-right: #56b7e6;
  position: relative;
  left: 0.05cm;
  background-color: white;
}

.td2{
  color: white;
  border: 1px solid white;
  border-left: #56b7e6;
  border-top-right-radius: 16cm;
  border-bottom-right-radius: 16cm;
  position: relative;
  right: 0.05cm;
}

i {
  font-size: 20px;
}

form{
  margin-top: 20%;
  margin-bottom: 100px;
}

label{
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.text{
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
}

.btn{
  width: 150px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: white;
  color: black;
}

.btn:hover{
  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  form{
    margin-top: 50%;
  }
}