body {
	background-color: #56B7E6;
}

h2 {
	text-align: center;
	color: white;
}

select {
	border: 2px solid white;
	text-align: center;
	margin: 5px;
	position: relative;
	left: 60%;
	background-color: #56B7E6;
	color: white;
	
}

table {
	width: 80%;
	height: 100%;
	margin: auto;
	text-align: center;
	border: 5px solid white;
	padding: 5px;
}

th {
	color: white;
	border: 1px solid white;
}

td {
	color: white;
	border: 1px solid white;
}